body, html {
  background : #f4f7f6;
  color: #495057;
  font-size: 10px !important;
}


.nav-pills > li > a {
   border-radius: 0;
}

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   overflow: hidden;
}

/*#wrapper.toggled {
   padding-left: 250px;
   overflow: hidden;
}

#sidebar-wrapper {
   z-index: 1000;
   position: absolute;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   overflow-y: auto;
   background: #eee;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
#page-content-wrapper {
   position: absolute;
   padding: 15px;
   width: 100%;
   overflow-x: hidden;
}

.xyz {
   min-width: 360px;
}*/

#wrapper.toggled #page-content-wrapper {
   position: relative;
   margin-right: 0px;
}

.fixed-brand {
   width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
   margin-top: 2px;
}

.sidebar-nav li {
   text-indent: 15px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255, 255, 255, 0.2);
   border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

.no-margin {
   margin: 0;
}

@media (min-width: 768px) {
   #wrapper {
      padding-left: 250px;
   }
   .fixed-brand {
      width: 250px;
   }
   #wrapper.toggled {
      padding-left: 0;
   }
   #sidebar-wrapper {
      width: 200px;
   }
   #wrapper.toggled #sidebar-wrapper {
      width: 200px;
   }
   #wrapper.toggled-2 #sidebar-wrapper {
      width: 50px;
   }
   #wrapper.toggled-2 #sidebar-wrapper:hover {
      width: 200px;
   }
   #page-content-wrapper {
      padding: 20px;
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
   }
   #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
   }
   #wrapper.toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;
   }
}
.fieldset1
{
    border:2px solid gray;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;  
    border-radius:8px;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
}
.fieldset1 .input-form
{
    width: 160px;
    float: right;
}
.fieldset1 .input-form label
{
    float: left;
}
.customCheck label
{
    float: left;
}

.customCheck input
{
    float: right;
}


.header1 {
  background-color: #2f343a;
  padding: 5px;
  color: #fff;
  font-size: 12px;
}

.header1 a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.header1 a:hover {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
} 

.header2 {
  height: 85px;
  background-color: #fff;
  padding: 10px;
  vertical-align: middle;
}

.header2 a {
  margin: 10px;
  color: #495057;
  font-size: 12px;
  text-decoration: none;
}

.header2 a:hover {
  color: #495057;
  font-size: 12px;
  text-decoration: none;
} 

.logo {
  text-align: center;
}

.espace_franchiseur {
  text-align: center;
}

.espace_franchiseur span {
  font-size: 12px;
}

.espace_franchiseur .bold {
  font-size: 18px;
  font-weight: bold;
}

.logsignin {
  text-align: center;
}

.header3 {
  height: 70px;
  background-color: #676b6f;
  color: #fff;
  font-size: 1em;
  line-height: 70px;
  padding: 15px 20px 10px 20px !important;
}

.main
{
  background : #f4f7f6;
}

.profile
{
  margin-left: -28px;
  padding-top: 20px;
  vertical-align: middle;
}

.content
{
  width: 90%;
  height: auto;
  background-color: #fff;
  /*margin-right: 10px;*/
  margin-bottom: 30px;
  border-radius: 5px;
  float: right;
}

.sidebar
{
  position: absolute;
  float: left;
  margin-left: -10px;
  z-index: 999;
  background-color: #f4f7f6;
  height: 100vh;
}

@media screen and (min-width: 1500px) {
  .sidebar {
    left: 15px;
    width: 200px;
    margin-left: -54px;
  }

  .title {
    margin-left: 45px;
  }
}

@media screen and (max-width: 1499px) {
  .content {
    width: calc(100% - 80px);
  }

  .sidebar {
    left: 15px;
    width: 75px;
  }
  
  .navbar-nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    padding: 5px 20px 0 15px !important;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0 !important;
  }

  .link-text {
    display: none;
  }

  .sidebar:hover {
    width: 180px;
    box-shadow: 5px 0 5px -5px #333;
  }

  .sidebar:hover .link-text {
    display: block;
    margin-left: 10px;
  }
}

.sidebar.show {
  left: 15px;
}

.sidebar a
{
  text-decoration: none !important;
  color: #495057;
}

.sidebar a:hover
{
  text-decoration: none;
  color: #495057;
}

.sidebar ul
{
  list-style: none;
}

/* .picto {
  width: 15%;
} */

.sidebar ul>li
{
  font-size: 1em;
  height: 50px;
  /*padding: 15px;*/
  width: 100%;
}


.sidebar ul>li:hover
{
  border-left: 5px solid #49c5b6;
  background-color: #f1f1f1;
  margin-right: 10px;
  border-radius: 0 5px 5px 0;
}

.sidebar li>span
{
  margin-left: 10px; 
}

.liactive
{
  border-left: 5px solid #49c5b6;
  background-color: #f1f1f1;
  margin-right: 10px;
  border-radius: 0 5px 5px 0;
}

.liactive a
{
  color: #49c5b6 !important;
}

.textebienvenu
{
  padding-top: 15px;
}

.title
{
  color: #49c5b6;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 1.2em;
}

.menu1
{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 65px;
  height: 45px;
  border-top: 1px solid #dee2e6;
  font-size: 1em;
  float: left;
}

.borderbottom
{
  float: right;
  height: 45px;
  width: calc(100% - 65px);
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.main-content
{
  margin: 0 10px 20px 10px;
  padding-top: 25px;
  border: 1px solid #dee2e6;
  border-radius: 0 5px 5px 5px;
}

.content-title
{
  margin-left: 10px;
  margin-top: 20px;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 10px;
  width: 150px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #f4f7f6;
  border-radius: 5px 5px 0 0;
}

.footer {
/*  position: absolute;
  bottom: 0;
  left: 0;*/
  width: 100%;
  background-color: #242424;
  height: 270px;
  padding-top: 50px;
}

.footer ul {
  list-style: none;
  color: #fff;
  margin-top: 40px;
  margin-left: -40px;
}

.footer ul>li
{
  padding-bottom: 10px;
}

.footer ul>a {
  text-decoration: none;
  color: #fff;
}

.footer ul>a:hover {
  text-decoration: none;
  color: #fff;
}

.bordertopfooter {
  border-top: 1px solid #ededed;
  margin-top: 20px;
}

.partenaire 
{
  color: #fff;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 50px;
}

.social-media
{
  padding-top: 20px;
  color: #fff;
  font-size: 2em;
  text-align: center;
  /*padding-bottom: 20px;*/
}

.social-media a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  padding: 5px;
}

.social-media a:hover
{
  text-decoration: none;
  color: #fff;
}

.btn-green
{
  margin: 10px;
  padding: 10px 20px 10px 20px !important;
  color: #fff !important;
  font-size: 16px !important;
  background-color: #a7d01d !important;
  border-radius: 2px !important;
  font-size: 12px !important;
}

.btn-blue
{
  margin: 10px;
  padding: 10px 40px 10px 40px !important;
  color: #fff !important;
  font-size: 16px !important;
  background-color: #49c5b6 !important;
  border-radius: 2px !important;
  border-style: none;
  width: 20%;
  font-size: 12px !important;
}

.red-input
{
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  height: 35px;
}

.red-input select
{
  padding: 0 8px;
  width: 100%;
  height: 35px;
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 11px;
}

.red-input:after
{
  top: 50%;
  left: 93%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #fff;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.red-input:before
{
  width: 12%;
  right: 0; top: 0; bottom: 0;
  content: " ";
  position: absolute;
  pointer-events: none;
  background-color: #fc8269;
  border-color: #fc8269;
}
.red-input select:focus
{
  outline: none;
}


.red-input-small
{
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  height: 28px;
}

.red-input-small select
{
  padding: 2px 2px;
  width: 100%;
  height: 28px;
  border: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 11px;
}

.red-input-small:after
{
  top: 50%;
  left: 75%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #fff;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.red-input-small:before
{
  width: 40%;
  right: 0; top: 0; bottom: 0;
  content: " ";
  position: absolute;
  pointer-events: none;
  background-color: #fc8269;
  border-color: #fc8269;
}

.red-input-small select:focus
{
  outline: none;
}


.lockicon
{
  color: #fc8269;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: text-bottom;
}

.labelform
{
  padding: 10px 5px 15px 100px;
}
.labelform-small
{
  height: 30px;
  padding-top: 3px;
}

.labelform-small-body
{
  height: 30px;
  padding-top: 7px;
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.important
{
  color: #fc483e;
}

.cardpersonalised
{
  border-radius: 5px;
  border: 1px solid #dee2e6;
  height: 360px;
  margin-bottom: 20px;
  /*padding-bottom: 50px;*/
}


.cardpersonalised2
{
  border-radius: 5px;
  border: 1px solid #dee2e6;
  margin-bottom: 20px;
}

.cardPTitle
{
  background-color: #f4f7f6;
  height: 50px;
  border-bottom: 1px solid #dee2e6;
  /*padding: 10px 20px 5px 20px;*/
}

.pad2
{
  padding: 10px 10px 10px 0px;
}

.pad
{
  padding: 10px 15px;
}

.cardPBody
{
  background-color: #fff;
  padding: 50px 2px 20px 5px;
}

.inputPersonalised
{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.nopadding
{
  padding-left: 0 !important; 
  padding-right: 5px !important;
}

.paddingrow
{
  padding-left: 5px !important; 
  padding-right: 0 !important;
  padding-bottom: 20px !important;
}

.horizontalpadding
{
  padding-left: 5px !important; 
  padding-right: 5px !important;
}

.npaddingcol
{
  padding-right: 10px !important;
  padding-left: 0 !important;
}
.npaddingcolB
{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nopaddingRowB
{
  margin-left: -10px !important;
}

.nopaddingRowBC
{
  margin-left: 20px !important;
}

.checkmark
{
  position: absolute;
  top: -5px;
  /*left: 135;*/
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  /*float: right;*/
}

input:checked ~ .checkmark
{
  background-color: #fc8269;
  border-radius: 2px;
  border: none;
}

.checkmark:after
{
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after
{
  border-radius: 2px;
  left: 5px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark.right
{
  padding: 0 10px 0 10px;
  margin-left: 10px;
  display: inline-block;
}
.checkmark.right label:before, .checkmark.right input[type="checkbox"]
{
  right: 0;
  left: auto;
}
.checkmark.right input[type="checkbox"]:checked + label:after
{
  right: -1px;
  left: auto;
}
/*
.checkmark-many
{
  position: absolute;
  top: 0;
  left: 160;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  float: right;
}

input:checked ~ .checkmark-many
{
  background-color: #fc8269;
  border-radius: 2px;
  border: none;
}

.checkmark-many:after
{
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark-many:after
{
  border-radius: 2px;
  left: 5px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}*/


.checkmark-left
{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 2px;
}

input:checked ~ .checkmark-left
{
  background-color: #fc8269;
  border-radius: 2px;
  border: none;
}

.checkmark-left:after
{
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark-left:after
{
  border-radius: 2px;
  left: 5px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkgroup
{
  display: block;
  position: relative;
  padding-right: 10px;
  padding-bottom: 35px;
  margin-left: -25px !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
}

.checkgroup-left
{
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-left: -25px !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.checkgroup-many input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkgroup-left input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkgroup input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.tenpercent
{
  width: 21%;
  float: left;
  padding: 5px 10px 0 0 !important;
}

.withborderR
{
  border-right: 1px solid #dee2e6;
  height: 100%;
}

.md3
{
  width: 23% !important;
}

.md6
{
  width: 52% !important;
}

.md9
{
  width: 77% !important;
}
/*
  redcolor1 : #fc8269;
  redcolor2 : #fc483e;
  bluecolor : #49c5b6;
  footercolor : #242424;
  bodyback : #f4f7f6;
  activecolor: #f1f1f1;
  bordercolor: #dee2e6;
*/